@keyframes Scale {
    0%{
        transform: scale(0,0);
    }
}

.profile-section{
    transform-origin: right top;
    animation: Scale 0.1s ease;
}

.message-section{
    background-image: url( https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-size: 500px;
}
